# THIS IS AN EXAMPLE TEMPLATE FILE. DO NOT USE THIS FILE TO EXPOSE YOUR SENSITIVE INFORMATION.
#  THIS CONFIGURATION IS USED TO SETUP YOUR CONNECTION IN DATABASE
DB_HOST = <YOUR_HOST>
DB_USER = <YOUR_USER>
DB_PASSWORD = <YOUR_PASSWORD>
DATABASE_NAME = <YOUR_DATABASE_NAME>

# Server Configuration to start the server
SERVER_BASE_URL = <YOUR_BASE_URL>
SERVER_PORT = <YOUR_SERVER_PORT>
SERVER_HOST = <YOUR_SERVER_HOST>