# THIS IS AN EXAMPLE TEMPLATE FILE. DO NOT USE THIS FILE TO EXPOSE YOUR SENSITIVE INFORMATION.

DB_HOST = <YOUR_HOST>
DB_USER = <YOUR_USER>
DB_PASSWORD = <YOUR_PASSWORD>
DATABASE_NAME = <YOUR_DATABASE_NAME>

BASE = <YOUR_BASE_URL>