@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import "tailwindcss";

:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-muted: #6c757d;
    --background-color-primary: #1e88e5;
    --background-color-secondary: #ccc0f2;
    --border-radius-2-rem: 2rem;
    --border-radius-1-rem: 1rem;
}
html{
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lexend Giga", sans-serif, Arial, Verdana;
    color: var(--color-black);  
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
#root {
    height: 100vh;
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10000;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 10vh;
    background-color: var(--background-color-secondary);
}
.header-container.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color-secondary);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.logo-box {
    position: absolute;
    left: 1rem;
    padding: 1rem;
    animation: logo 1s ease-in-out;
}
@keyframes logo {
    0%{
        transform: translateX(-100%);
        opacity: -5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.logo-box .logo-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: var(--color-black);
    text-decoration: none;
}
.navigation-box  {
    position: relative;
    width:42%;
    display: block;
}
.navigation-links ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 0.30rem;
    list-style: none;
    animation: nav 1s ease-in-out;
}
@keyframes nav {
    0%{
        transform: translateY(-100%);
        opacity: -5;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.navigation-links li {
    flex: 1;
    padding: 0.50rem;
}
.navigation-links .link-text {
    color: var(--color-black);
    text-decoration: none;    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-content-container {
    background: url("./assets/images/clinic-bg-image.png") no-repeat center center/cover;
    height: 90vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
}
.home-content {
    flex: 1;
    height: 95%;
    width: 98%;
    position: absolute;
    margin: 1rem;
}
.icms-title {
    display: block;
    position: absolute;
    right: 2.40rem;
    top: 13rem;
    animation: headingICMS 1s ease-in-out;
}
.icms-title h1 {
    line-height: 1.5;
    font-size: 27px;
    color: var(--color-white);
    font-family: "Lexend Giga", sans-serif, Arial, Verdana;
    animation: headingICMS 1s ease-in-out;
}
@keyframes headingICMS {
    0%{
        transform: translateX(-10%);
        opacity: -5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.icms-description {
    position: absolute;
    right: 2rem;
    top: 16rem;
    width: 92%;
    display: block;
}
.icms-description p {
    color: var(--color-white);
    font-family: "Lexend Giga", sans-serif, Arial, Verdana;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    animation: descriptionICMS 1s ease-in-out;
}
@keyframes descriptionICMS {
    0%{
        transform: translateX(-10%);
        opacity: -5;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.side-content {
    position: absolute;
    right: 0;
    width: 50%;
    height: 94.5%;
    margin: 1rem;
}
.login-container {
    background: url("./assets/images/login-bg-img2.png") no-repeat center center/cover;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.login-box {
    flex: 1;
    position: absolute;
    top: 4rem;
    background-color: var(--color-white);
    height: 80%;
    width: 40%;
    border-radius: 2rem;
    box-shadow: 0.50rem 0.60rem 1rem #6c6c6c;
}
.login-icon {
    display: block;
    margin: 1rem;
}
.login-icon h1 {
    margin-top: 3rem;
    font-family: "Lexend Giga", "san-serif", "Arial", "Verdana";
    font-size: 20px;
    text-align: center;
    color: black;
}
.login-form-box .login-form .login-form-groups{
    height: 30rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.login-group-email {
    flex: 1;
    position: absolute;
    top: 4rem;
    width: 92.80%;
    padding: 0.50rem;
}
.input-email {
    position: absolute;
    left: 15%;
    width: 70%;
    box-sizing: border-box;
}
.login-group-password {
    width: 92.90%;
    flex:1;
    position: absolute;
    top: 9rem;
}
.input-password {
    position: absolute;
    left: 15%;
    box-sizing: border-box;
}
.button-login {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    bottom: 30%;
    width: 50%;
    height: 20%;
    margin: 1rem;
}
.create-account-wrapper {
    display: block;
    position: absolute;
    right: 30%;
    cursor: pointer;
    bottom: 9rem;
}
.create-account-wrapper p {
    font-family: "Lexend Giga", "san-serif", "Arial", "Verdana";
    font-size: 9px;
    color: black;
    line-height: 1.5;
}
.register-container {
    position: relative;
    height: 100vh;
    background: url("./assets/images/login-bg-img2.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.register-wrapper-box {
    padding: 1rem;
    background-color: var(--color-white);
    width: 50%;
    height: 90%;
    position: absolute;
    box-shadow: 0 7px 6px rgba(0, 0, 0, 0.5);
    display: block;
    border-radius: var(--border-radius-2-rem);
}
.register-title{
    display: block;
    padding: 0.50rem;
}
.register-title h1{
    font-family: "Lexend Giga", "san-serif", "Arial", "Verdana";
    font-size: 20px;
    color: black;
    text-align: center;
}
.register-form-box {
    height: 90%;
}
.register-form {
    height: 100%;
    padding: 0.50rem;
}
.register-form-groups {
    padding: 0.50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 1.50rem;
}
.register-group-button{
    width: 50%;
    padding: 0.50rem;
    display: block;
}
.about-container {
    height: 100vh;
    background-color: white;
}
.services-container{
    height: 100vh;
    background-color: deepskyblue;
}