:root {
    --color-black: #000000;
    --color-white: #ffffff;
    --color-primary: #007bff;
    --color-secondary: #6c757d;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-danger: #dc3545;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-muted: #6c757d;
    --background-color-primary: #1e88e5;
    --background-color-secondary: #ccc0f2;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
}
#root {
    height: 100vh;
    background-color: var(--background-color-secondary);
}
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 12vh;
}
.logo-box {
    position: absolute;
    left: 1rem;
    padding: 1rem;
}
.logo-box .logo-text {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: var(--color-black);
    text-decoration: none;
}
.navigation-box  {
    display: block;
    position: absolute;
}
.navigation-links ul {
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1rem;
    padding: 0.30rem;
    list-style: none;
}
.navigation-links ul li {
    padding: 1rem;
}
.navigation-links .link-text {
    padding: 0.5rem;
    color: var(--color-black);
    text-decoration: none;    
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}